body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {

}

header {
background-color: red;
display: inline-block;
width: 100%;
margin-top: 20px;
}
header > img {
 display: inline-block;
 background-color: cyan;
 float: right;
 width: 50px;
}
nav {
    float: right;
    display: inline-block;
    background-color: yellow;
    margin-top: 12px;
    margin-right: 12px;
}
nav > a {
    background-color: rgb(252, 36, 205);
    padding: 5px;
    margin-right: 10px;
    font-size: 22px;
}
nav > a:last-of-type {
 background-color: rgb(20, 201, 59);
 border-radius: 29px;
 border-style: solid;
 font-size: 23px;
 line-height: 1.24;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main {
    display: inline-block;
    width: 80%;
    position: relative;
    height: 89vh;
    
}
main > img {
    display: inline-block;
    width: 60%;
    float: left;
    position: absolute;
    bottom: 0;
}
div {
    display: inline-block;
    background-color: white;
    width: 40%;
    
    text-align: center;
}
h1 {
    display: inline-block;
    background-color: dodgerblue;
    width: 100%;
    text-align: center;
    
    font-size: 80px;
    

}
h2 {
    display: inline-block;
    background-color: chartreuse;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(206, 45, 17);
    
}
p {

}
